@import '../Root'; 

.sub-part-title {
  justify-self: center;
  display: flex;
  max-width: 1440px;
  width: 60%;
  height: 67px;
  background-color: $primary-color;
  color: $white;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  align-items: center;
  justify-content: center;
}

.skills {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 50%;
  gap: 5%;
}

.skill-icon-button {
  background-color: #000000;
  color: white;
  display: flex;
  height: 200px;
  width: 200px;
  min-width: 200px;
  clip-path: polygon(
  100px 0px,
  200px 50px,
  200px 150px,
  100px 200px,
  0px 150px,
  0px 50px
  );
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.skill-icon {
  height: 60%;
  width: 60%;
  color: $secondary-color;
}

.courses {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;
  height: 200px;
  width:50%;
  background-color: $grey;
  clip-path: polygon(
  100px 0px,                      // top-left flat edge
  calc(100% - 100px) 0,          // top-right slant start (mirrored)
  100% 50px,                     // top-right slope
  100% 150px,                    // bottom-right slope
  calc(100% - 100px) 100%,       // bottom-right slant end
  100px 200px,                   // bottom-left flat edge
  0 150px,                       // bottom-left slope
  0 50px                         // top-left slope
);

margin-bottom: 20px;

}

.courses-description {
    display: flex;
    height: 160px;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

 @media all and (max-width: 1024px) {
.skills {
  justify-content: center;
}

.courses {
  width: unset;
}

}

@media (max-width: 769px) {
  .courses {
  max-width: 90%;
}
}