@import './Root'; 


.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    /**max-width: 1440px;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.part-body {
  width: 90%;
}

.Part-title {
  justify-self: center;
  display: flex;
  width: 90%;
  height: 67px;
  background-color: $secondary-color;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  max-width: 1440px;
}

.Introduction-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.Introduction {
  background-color: $grey;
  padding: 20px;
  padding-right: 50px;
  height: 260px;
  border-radius: 20px;
  font-weight: bold;
}

.Profile-pic-big-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: -30px;
}

.Profile-pic-big {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.projet {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}

.projet-pic {
  height: 300px;
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
  object-position: center center; 
  margin-right: -30px;
  z-index: 1;
}

.projet-description {
  background-color: $grey;
  padding: 20px;
  padding-left: 50px;
  height: 260px;
  width: 50%;
  border-radius: 20px;
  font-weight: bold;
}

.service-container {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  gap: 5%;
}

.service-description {
  background-color: $grey;
  padding: 20px;
  padding-left: 50px;
  height: 260px;
  width: 50%;
  border-radius: 20px;
  font-weight: bold;
}

.sub-part-title {
  justify-self: center;
  display: flex;
  max-width: 1440px;
  width: 60%;
  height: 67px;
  background-color: $primary-color;
  color: $white;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  align-items: center;
  justify-content: center;
}

.skills {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 50%;
  gap: 5%;
}

.skill-icon-button {
  background-color: #000000;
  color: white;
  display: flex;
  height: 200px;
  width: 200px;
  min-width: 200px;
  clip-path: polygon(
  100px 0px,
  200px 50px,
  200px 150px,
  100px 200px,
  0px 150px,
  0px 50px
  );
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.skill-icon {
  height: 60%;
  width: 60%;
  color: $secondary-color;
}

.courses {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1440px;
  height: 200px;
  width:50%;
  background-color: $grey;
  clip-path: polygon(
  100px 0px,                      // top-left flat edge
  calc(100% - 100px) 0,          // top-right slant start (mirrored)
  100% 50px,                     // top-right slope
  100% 150px,                    // bottom-right slope
  calc(100% - 100px) 100%,       // bottom-right slant end
  100px 200px,                   // bottom-left flat edge
  0 150px,                       // bottom-left slope
  0 50px                         // top-left slope
);

margin-bottom: 20px;

}

.courses-description {
  height: 160px;
  padding: 20px;
  width: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
